{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<!-- Wrapper -->
	<section id="wrapper">
		<header>
			<div class="inner">
				<h2>Who I am</h2>
				<p>A Software Automation Engineer and lifelong learner.</p>
			</div>
		</header>

		<!-- Content -->
			<div class="wrapper">
				<div class="inner">

					<h3 class="major">About Me</h3>
					<p>I am an experienced <b>Platform, Devops, and Software Automation Engineer</b> with 15 years of experience dedicated to trasforming development workflows into highly efficient, reliable, and scalable systems. My expertise lies in bridging the gap between development and operations--automating everything from code deployment and infrastructure provisioning (IaC) to monitoring. I thrive on designing and implementing modern arcitectures that ensure highly availability, security, and velocity for engineering teams.</p>
					<!-- <h3 class="major">Vitae phasellus</h3>
					<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->

					<section class="features">
						<article>
							<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
							<h3 class="major">Cloud & Infrastructure</h3>
							<p>Azure/GCP, Terraform, Docker</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
							<h3 class="major">CI/CD & DevOps</h3>
							<p>GitHub Actions, Azure DevOps Pipelines, Octopus CI, Monitoring (Datadog, PowerBI)</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
							<h3 class="major">Programming & Automation</h3>
							<p>Python, Go, Powershell, APIs, REST, Testing Frameworks</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
							<h3 class="major">Operating Systems & Certifications</h3>
							<p>Linux (RHEL/Ubuntu), Windows Server, COMPTIA Net+/A+</p>
							<!-- <a href="#" class="special">Learn more</a> -->
						</article>
					</section>

				</div>
			</div>

	</section>
{% endblock %}
				